@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  font-family: "Lato", sans-serif;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

#style-3::-webkit-scrollbar-track {
  border-radius: 10px;
  margin-left: 30px;
}

#style-3::-webkit-scrollbar {
  width: 8px;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 10px;
}

#style-3::-webkit-scrollbar-thumb:hover {
  background-color: #bdbdbd;
  border-radius: 10px;
}

.custom-datepicker {
  width: 100%;
  height: 40px;
  border: 1px solid #828282;
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 40px;
  font-size: 14px;
}

.custom-popper {
  animation: slideIn 0.5s forwards;

  .react-datepicker__header {
    background-color: #fff;
    border-bottom: none;
  }

  .react-datepicker__day-name {
    font-weight: 700;
    padding-top: 10px;
  }

  .react-datepicker__day,
  .react-datepicker__time-name {
    color: #000;
  }

  .react-datepicker__current-month {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding-top: 6px;
  }

  .react-datepicker__navigation--previous {
    border-right-color: #000;
    padding-top: 10px;
  }

  .react-datepicker__navigation--next {
    border-left-color: #000;
    padding-top: 10px;
  }

  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: #216ba5;
    color: #fff;
  }
}

.custom-datepicker::placeholder {
  color: #4f4f4f;
}

.custom-datepicker::-webkit-input-placeholder {
  color: #4f4f4f;
}

.custom-datepicker::-moz-placeholder {
  color: #4f4f4f;
}

.custom-datepicker:-ms-input-placeholder {
  color: #4f4f4f;
}

.custom-datepicker:-moz-placeholder {
  color: #4f4f4f;
}

@keyframes slideIn {
  from {
    opacity: 0%;
    margin-left: 0;
  }
  to {
    opacity: 100%;
    margin-left: 187px;
  }
}

.wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
}

.wrapper.is-open {
  grid-template-rows: 1fr;
}

.inner {
  overflow: hidden;
}
